$orange : #ff6600;
$yellow : #ffcc00;

.profileBox {
  background: $orange;
  border: 3px solid black;
  padding: 40px 80px;
}

.reposBox {
  background: $yellow;
  border: 3px solid black;
  padding: 40px 80px;
}

.button {
  font-weight: bold;
  text-align: center;
  background: red;
  color: white;
}

img {
  width: 200px;
}
